<h1>Welcome to Tasks Homepage! </h1>
<ul id="tasks">
	<%=@task.each do |task| %>
	  <li>
	  	<%=task.description%>
	  	<%= task.deadline%>
	  	<%=link_to "show task", task_path(task) %>
	  	<%=link_to "delete", task_path(task), method: :delete %>
	  </li>
	<%end%>
</ul>